Repository zygotecnologia/guides, pull requests merged in 2020-03, with the labels that each got.

#61 First rules
  style/scss-css/README.md
Labels: Scss/CSS

#63 Add `(Still under construction)` message to README
  README.md
Labels: enhancement

#62 Add memoized rule
  style/ruby/README.md
Labels: ruby
